@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A empresa JobsNet é responsável pelo recrutamento e seleção de candidatos da área de TI, para empresas parceiras.</p>
