@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Fantasia<br />
    Bairro Fantástico, CEP: 36481-994<br />
    <abbr title="Phone"></abbr>
    425.555.0100
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>