
<div class="row">
    <h1>Cadastrar Curriculo</h1>
    <p>Olá, seja bem vindo!</p>
    <p>Realize sua inscrição através da opção "Ir para cadastro de currículos", para participar de nosso banco de talentos.</p>
    <p>Caso já tenha realizado, você pode consultar seus dados na opção "Visualizar Currículos", inserindo o número de inscrição e CPF.</p>
   <p>Caso não se recorde, entre em contato com o nosso atendimento pelo nosso email:</p>
    <p><a href="mailto:Support@example.com">Support@example.com</a></p>
    <div>
        <a href="/cadastro" class="btn btn-default"> ir para cadastro de curriculos</a>
        <a href="/visualizar" class="btn btn-default"> Visualizar Currículos</a>
    </div>
</div>